
#sidebar-wrapper {
  width: 70px;
  min-height: 100vh;
  background-color: #e6f4ea;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.custom-navbar {
  margin-left: 70px; 
  height: 100px;
  z-index: 0; 
}

#page-content-wrapper {
  margin-left: 100px;
  padding: 1rem;
}

.sidebar .nav-link i {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 2px;
}

.sidebar .nav-link {
  font-size: 0.75rem;
  padding: 0.75rem 0;
}
