<app-sidebar-trip></app-sidebar-trip>


<app-sidebar-trip></app-sidebar-trip>

<div id="page-content-wrapper" class="p-4">
  <!-- Cabeçalho -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">Orçamento</h1>
    <button class="btn btn-despesa btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#addDespesaModal">
      + despesa
    </button>
  </div>

  <!-- Linha com as duas caixas lado a lado -->
  <div class="row">
     <!-- Caixa de Despesas (maior) -->
    <div class="col-md-8 mb-4">
      <div class="caixa-despesas">
        <h5 class="mb-3">Despesas</h5>
        <div *ngFor="let despesa of despesas" class="border rounded p-3 mb-3 d-flex justify-content-between align-items-start">
          <div>
            <strong>{{despesa.descricao}}</strong>
            <p class="mb-1 text-muted">Categoria: {{getNomeCategoria(despesa.categoriaGastoId) }}</p>
            <small class="text-muted">{{despesa.data | date: 'EEEE, d MMMM' : 'UTC'}}</small>
          </div>
          <div class="d-flex align-items-center gap-3">
            <div class=" fw-bold">R$ {{despesa.valor}}</div>
            <div class="dropdown">
              <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item">Editar</a></li>
                <li><a class="dropdown-item text-danger" (click)="deleteDespesa(despesa._id)">Excluir</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Caixa de Progresso (menor) -->
    <div class="col-md-4 mb-4">
      <div class="caixa-orcamento">
        <div class="text-center mb-3">
          <strong>Total gasto:</strong><br />
          <span>R$ {{saldo.totalGasto}} / R$ {{saldo.orcamento}}</span>
        </div>
        <div class="progress-circular mx-auto mb-2">
          <svg class="circular-chart" viewBox="0 0 36 36">
            <path class="circle-bg"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 0 1 0 31.831
                     a 15.9155 15.9155 0 0 1 0 -31.831" />
            <path class="circle"
                  [attr.stroke-dasharray]="percentualGasto + ', 100'"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 0 1 0 31.831
                     a 15.9155 15.9155 0 0 1 0 -31.831" />
            <text x="18" y="20.35" class="percentage">{{ percentualGasto | number:'1.0-0' }}%</text>
          </svg>
        </div>
        <p class="text-muted text-center">Saldo restante: R$ {{saldo.saldoRestante}}</p>
      </div>
    </div>
  </div>
</div>







<!-- Modal -->
<div class="modal fade" id="addDespesaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-right">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Adicionar Despesa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form  [formGroup]="despesaForm" (ngSubmit)="addDspesa()">

           <label for="categoria" class="form-label">Categoria</label>
            <select class="form-select" id="categoriaGastoId" name="categoriaGastoId" formControlName="categoriaGastoId" required>
              <option value="">Selecione uma categoria</option>
              <option *ngFor="let categoria of categorias" [value]="categoria._id">{{ categoria.nome}}</option>
            </select>

            <div class="mb-3">
              <label for="descricao" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="descricao" name="descricao" formControlName="descricao" required />
            </div>

            <div class="mb-3">
              <label for="valor" class="form-label">Valor</label>
              <input type="number" class="form-control" id="valor" name="valor" formControlName="valor"required />
            </div>

            <div class="mb-3">
              <label for="data" class="form-label">Data</label>
              <input type="Date" class="form-control" id="data" name="data" formControlName="data" required />
            </div>
         
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </form>



      </div>
    </div>
  </div>
</div>
