#wrapper {
  display: flex;
}

#page-content-wrapper {
  margin-top: 50px;
  margin-left: 70px;
  padding: 15px;
}

@media (max-width: 992px) {
  #page-content-wrapper {
    margin-left: 50;
  }
}

/* Ícone gira quando abre */
.toggle-icon {
  transition: transform 0.3s ease;
}

.itinerary-header.collapsed .toggle-icon {
  transform: rotate(0deg);
}

.itinerary-header[aria-expanded="true"] .toggle-icon,
.itinerary-header.show .toggle-icon {
  transform: rotate(180deg);
}

