
.custom-navbar {
  background-color: white !important;
  color: #fff;
  border-bottom: 1px solid #1a1a1a4f;
   
}




#sidebar-wrapper {
  position: fixed;
  top: 56px; 
  left: 0;
  width: 250px;
  height: calc(100vh - 56px); 
  background-color: #a7e2ac9a; 
  z-index: 1030;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#wrapper.toggled #sidebar-wrapper {
  transform: translateX(0);
}

.custom-sidebar {
  border-right: 1px solid #1a1a1a4f;
  padding-top: 4rem;
  
}

.custom-link {
  display: block;
  padding: 12px 20px;
 
  margin-bottom: 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #1a1a1a;
  background-color: transparent;
  transition: all 0.25s ease;
}

.custom-link:hover {
  background-color: #4caf4f9a; 
  color: white;
 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.custom-link:active {
  background-color: #388e3c; /* Verde escuro ao clicar */
}

.custom-link.text-danger {
  color: #d32f2f; /* Vermelho mais forte */
}

.custom-link.text-danger:hover {
  background-color: #ffcdd2;
  color: #b71c1c;
}

#nova-viagem-btn {
  border-radius: 20px;
  background-color: var(--verde-escuro);
  border: none;
  color: white;
  transition: 0.2s ease-in-out;
}

#nova-viagem-btn:hover {
  background-color: transparent;
  transform: scale(1.03);
  border: 2px solid var(--verde-escuro);
  color: var(--verde-escuro)
}



@media (min-width: 992px) {
  #sidebar-wrapper {
    transform: translateX(0);
  }

  #page-content-wrapper {
    margin-left: 250px;
  }

  #menu-toggle {
    display: none;
  }
}


