<section class="container-inicial">
  <header class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid px-0 d-flex justify-content-between align-items-center">
      <a class="navbar-brand fw-bold text-logo" [routerLink]="['/']">TravelPlanner</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
        <ul class="navbar-nav gap-3 align-items-center">
          <li class="nav-item">
            <a class="nav-link nav-custom-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item">
            <app-btn textoBotao="Criar conta" [routerLink]="['/register']"></app-btn>
          </li>
        </ul>
      </div>
    </div>
  </header>
</section>
