
.container-inicial {
  border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.register {
  background-color: var( --roxo-principal);
  padding: 10px 20px;
  border-radius: 15px;
  color: white !important;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  display: inline-block;
}

 ul li a:hover {
  color: var( --roxo-principal);
  transform: scale(1.05);
}


.register:hover {
  background-color: var( --roxo-principal);
  transform: scale(1.05);
  color: white !important;
}

