.container-inicial {
  display: flex;
  justify-content: center;
  background: transparent;
}

.custom-navbar {
  width: 80%;
  max-width: 1200px;
  border-radius: 12px;
  padding: 1rem 2rem;
}

/* Estilo da marca (logo) */
.text-logo {
  font-size: 1.8rem;
  color: red;
  text-decoration: none;
}

/* Links do menu */
.nav-custom-link {
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: color 0.2s ease, transform 0.2s ease;
}

.nav-custom-link:hover {
  color: var(--roxo-principal);
  transform: scale(1.05);
}


@media(max-width: 780px){
  .custom-navbar {
   width: 100%;
  }
}

