:root {
  --verde-principal: #377e90;
  --verde-escuro: #135e3d;
  --verde-claro: #b6f7cd;
  --verde-muito-claro: #f0fdf4;
}


#wrapper {
  display: flex;
}

#page-content-wrapper {
  margin-left: 250px;
  padding: 20px;
}

@media (max-width: 992px) {
  #page-content-wrapper {
    margin-left: 0;
  }
}

