:root {
  --roxo-principal:  #6a84ed;
  --cor-fundo: #f1f5fd;
  --cor-para-botao: #2f97ec;
  --cor-roxo-claro: #f0ebfd;
  --cor-roxo-escuro: #9a89e0;
  --cor-azul-claro: #e9f9f9;
  --cor-branco: #f1f5fa;
}


body{
  background-color: var(--cor-fundo);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#wrapper {
  display: flex;
}

#page-content-wrapper {
  margin-left: 250px;
  padding: 20px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  #page-content-wrapper {
    margin-left: 0;
  }
}

