<section class="container-inicial">
  <header class="navbar navbar-expand-lg bg-white rounded shadow px-4 py-2 mx-auto" style="max-width: 1000px;">
    <a class="navbar-brand fw-bold " href="#">TravelPlanner</a>

    <!-- Botão Hamburguer -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Responsivo -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a class="nav-link  fw-medium" href="#">O que é o TravelPlanner?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  fw-medium" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn register" [routerLink]="['/register']">Começar agora</a>
        </li>
      </ul>
    </div>
  </header>
</section>
